body{
    background-color: #8C6CB2;
}
nav{
    background-color: #EAD7D7;
    padding: 2px;
    text-align: center;
    position: relative;
}
.bullet{
    list-style-type: none;
}

.home{
    position:absolute;
    left: 0;
    top: 0;
}
